asgiref==3.8.1
crispy-bootstrap4==2023.1
Django==5.1.5
django-allauth==65.8.0
django-crispy-forms==2.1
django-filter==24.1
django-widget-tweaks==1.5.0
pillow==11.2.1
python-gettext==5.0
sqlparse==0.5.3
